<ul class="list-group">

    <li ng-repeat="todo in todos | filter: filterQuery | orderBy: ['completed', 'name']" class="list-group-item">
        <div class="input-lg" ng-class="{ 'text-muted': todo.completed }">
            <input type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo.id, todo.completed)" />
            <span ng-class="{ 'text-strikethrough': todo.completed }">{{todo.name}}</span>
            <i ng-if="todo.completed" ng-click="remove(todo)" class="delete glyphicon glyphicon-remove-circle pull-right" title="Remove"></i>
        </div>
    </li>

</ul>