<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <style>
        .delete {
            color: red;
            font-size: 120%;
        }
        
        .label-as-badge {
            border-radius: 1em;
            padding-right: .7em;
            margin-left: .4em;
        }
        
        .text-strikethrough {
            text-decoration: line-through;
        }
        
        .text-giant {
            font-size: 200%;
            padding: 1em;
        }
    </style>
</head>

<body ng-app="TodoApp">
    
    <div class="container">
        <div class="header clearfix">
            <h1>AngularJS Todo List</h1>
        </div>
        <div class="row">
            <div class="panel panel-default clearfix">
                <div class="panel-heading clearfix">
                    <div class="row">

                        <!-- Filter by query -->
                        <div class="col-xs-12 col-sm-7 col-md-8">
                            <input ng-model="filterQuery.name" type="text" class="form-control" placeholder="Filter tasks by..." />
                        </div>
                        <!-- /Filter by query -->

                        <!-- Filter by status -->
                        <div class="hidden-xs col-sm-5 col-md-4">
                            <ul class="nav nav-pills pull-right" role="tablist">
                                <li role="presentation">
                                    <button class="btn btn-default" ng-class="{ active: filterQuery.completed === ''}" ng-click="filterQuery.completed = ''">
                                        <span class="text-primary">All</span>
                                        <span class="label label-primary label-as-badge">3</span>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button class="btn btn-default" ng-class="{ active: filterQuery.completed === false}" ng-click="filterQuery.completed = false">
                                        <span class="text-success">Active</span>
                                        <span class="label label-success label-as-badge">2</span>
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button class="btn btn-default" ng-class="{ active: filterQuery.completed === true}" ng-click="filterQuery.completed = true">
                                        <span class="text-warning">Complete</span>
                                        <span class="label label-danger label-as-badge">1</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- /Filter by status -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">

                    <!-- Task List -->
                    <ul class="list-group">

                        <li ng-animate="'animate'" ng-repeat="todo in todos | filter: filterQuery | orderBy: ['completed', 'name']" class="list-group-item">
                            <div class="input-lg" ng-class="{ 'text-muted': todo.completed }">
                                <input type="checkbox" ng-model="todo.completed" />
                                <span ng-class="{ 'text-strikethrough': todo.completed }">{{todo.name}}</span>
                                <i ng-if="todo.completed" ng-click="remove(todo)" 
                                   class="delete glyphicon glyphicon-remove-circle pull-right" title="Remove"></i>
                            </div>
                        </li>

                    </ul>
                    <div class="row">
                        <div class="col-xs-12 col-sm-10">

                            <!-- New Task input -->
                            <form name="newTaskForm" ng-submit="add(newTask, newTaskForm)">
                                <div class="form-group"  ng-class="{ 'has-error': newTaskForm.$dirty && newTaskForm.$invalid }">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary input-lg">Add</button>
                                        </span>
                                        <input name="taskName" ng-model="newTask.name"
                                               required ng-minlength="2" ng-maxlength="20" 
                                               type="text" class="form-control input-lg" placeholder="Task description..." />
                                    </div>
                                </div>
                                <div ng-if="newTaskForm.$dirty && newTaskForm.$invalid" class="alert alert-warning" role="alert">
                                    <!-- Can be either at the form level: -->
                                    <div ng-if="newTaskForm.$error.required">Please enter a task description</div>
                                    <!-- Or the field level: -->
                                    <div ng-if="newTaskForm.taskName.$error.minlength">The task must be at least 2 characters long</div>
                                    <div ng-if="newTaskForm.taskName.$error.maxlength">The task cannot be more than 20 characters long</div>
                                </div>
                            </form>
                            <!-- /New Task input -->

                        </div>

                        <!-- Clear completed button -->
                        <div class="col-sm-2 hidden-xs">
                            <button ng-click="clearCompleted()" class="btn btn-sm btn-warning pull-right">Clear Completed</button>
                        </div>
                        <!-- /Clear completed button -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>